<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="content-language" content="en">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="/static/favicon.png">
    <title>T:V Stats</title>

    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/flags32.css">
    <link rel="stylesheet" href="/public/custom.css?hash={{csshash}}">

    <link rel="preload" href="/static/flags32.png" as="image">

    <script>window._scripts={};</script>
    
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-60631405-1"></script>
    <script id="script-zepto" onload="window._scripts.zepto=true" async src="/static/zepto.min.js"></script>
    <script id="script-socketio" onload="window._scripts.socketio=true" async src="/static/socket.io.slim.js" integrity="sha256-xgFhgi3lzveFZBzfkbog/oj1SIOjyveAZKnUVwr35Q8=" crossorigin="anonymous"></script>
    <script id="script-tc" onload="window._scripts.tc=true" async src="/static/tc-min.js"></script>
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Tribes Revengeance stats</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/">Dashboard</a></li>
            <li><a href="/players">All players</a></li>
            <li><a href="/servers">Server statistics</a></li>
            <li><a href="/matches">Recent matches</a></li>
            <li><a href="/ticker">Ticker</a></li>
            {{!-- <li><a href="http://tribesrevengeance.com" style="color:orange"><b>TribesRevengeance.com</b></a></li> --}}
            <li><a href="https://downloads.fireant.pw" style="color:orange"><b>Downloads</b></a></li>
          </ul>
          <form class="navbar-form navbar-right" method="GET" action="/search">
            <input type="text" class="form-control" placeholder="Search..." name="name">
          </form>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-sm-12">
            {{#if alerts}}
                {{#each alerts}}
                    <br>
                    <div class="alert alert-warning alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        {{text}}
                    </div>
                {{/each}}
            {{/if}}
            {{{body}}}
        </div>
      </div>
    </div>
    
    <script async defer src="/public/custom.js?hash={{jshash}}"></script>
</body>
</html>
