<h2>Useful links</h2>

<ul>
    <li><a href="https://yidbon.wixsite.com/tvleague">League site</a></li>
    <li><a href="https://discord.gg/kQ9z8bY">Discord</a></li>
    <li><a href="https://www.facebook.com/groups/tribesVengeance/">Facebook group</a></li>
    <li><a href="http://steamcommunity.com/groups/TribesReVengeance">Steam group</a></li>
    <li><a href="https://www.reddit.com/r/Tribes/">Tribes subreddit</a></li>
</ul>
