<div class="page-header">
  <h1>Tribes Vengeance Ticker</h1>
  <p>Ticker is a browser extension that shows you number of players currently online. Never miss a match again.</p>
</div>

<div class="row">
  <div class="col-sm-6" style="margin-bottom: 20px">
    <a class="btn btn-lg btn-default btn-block" href="https://chrome.google.com/webstore/detail/kohelpjfigclbhokfllmhobaflkfpkcc" target="_blank">
      <img src="/static/images/chrome.svg" alt="Chrome" width="250" height="250" style="margin: auto; margin-bottom: 30px; display: block;">
      Ticker for Google Chrome
    </a>
  </div>

  <div class="col-sm-6" style="margin-bottom: 20px">
    <a class="btn btn-lg btn-default btn-block" href="https://addons.mozilla.org/en-US/firefox/addon/tribes-vengeance-ticker/" target="_blank">
      <img src="/static/images/firefox.svg" alt="Firefox" width="250" height="250" style="margin: auto; margin-bottom: 30px; display: block;">
      Ticker for Mozilla Firefox
    </a>
  </div>
</div>
